<article{{ attributes }}>
  {{- status_badge -}}

  {% if content %}

    {{- content|without('field_average', 'field_7_day', 'field_30_day') -}}


    <div class="tm-fields">
      {{ content.field_average }}
      {{ content.field_7_day }}
      {{ content.field_30_day }}
    </div>

    {{ chart }}

    {{ table }}

  {% endif %}

  {{ libraries }}
</article>


